<div class="container">
<h2>Restaurants</h2>

<% if @restaurants.any? %>

<% @restaurants.each.with_index do |restaurant, index| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <b><%= link_to "#{index + 1}.: #{restaurant.name}", restaurant_path(restaurant)%></b>
    </div>
    <div class="panel-body">
      <p>Address: <%= restaurant.address%></p>
      <p>Description: <%= restaurant.description%></p>
      Average rating: <%= restaurant.average_rating%>
    </div>
  </div>

<% end %>

<% else %>
  No restaurant found
<% end %>
</div>
