<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <h2><%= review.comment %> \ <%= review.rating %></h2>
    <p> Review by <%= review.user.email %> </p>
  <% end %>
<% else %>
  No review yet
<% end %>
